/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*navigatie*/
.nav-bar {
  background-color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-bar .home-link img {
  max-height: 115px;
}

/* Body */
body {
  background-image: url(../images/background.jpg);
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Container */
.container {
  margin: 0 auto;
  width: 95vw;
}

/* Hero */
#hero {
  margin-bottom: 2em;
}

#hero .hero-background {
  height: 300px;
  width: 100%;
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/backgrounds/image-thumb__14126__BackgroundImage/367791~-~media--36d9dbc4--query.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#hero .hero-caroussel {
  margin-top: -100px;
}

#hero .hero-caroussel .caroussel-image {
  height: 300px;
  width: 100%;
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/hero/image-thumb__87678__HeroTeaser/OET%20YIP%20HeroTeaser%201928x728%2002~-~media--cac93fe4--query.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#hero .hero-caroussel .caroussel-content {
  background: white;
  padding: 2em;
}
#hero .hero-caroussel .caroussel-content h3 {
  margin: 0;
}

/* Nieuwskaartjes */

.card-list {
  list-style: none;
  padding-left: 0;
}

.card-list .card {
  background: white;
  display: grid;
  margin-bottom: 2em;
}

.card-list .card.is-row {
  grid-template-columns: 35% auto;
}

.card-list .card.is-column {
  grid-template-columns: 1fr;
}

.card-list .card picture img {
  width: 100%;
}

.card-list .card picture img.large {
  height: 160px;
}

.card-list .card article {
  padding: 1.5em;
}

/* Element classes */

.link {
  color: #8c7256;
  text-decoration: none;
  font-size: 1rem;
}
.link:hover {
  color: black;
  text-decoration: underline;
}

.label {
  display: block;
  margin-bottom: -25px;
}

.heading1 {
  font-size: 34px;
  font-family: "EB Garamond", serif;
}
.heading2 {
  font-size: 30px;
  font-family: "EB Garamond", serif;
}
.heading3 {
  font-size: 28px;
  font-family: "EB Garamond", serif;
}
.heading4 {
  font-size: 26px;
  font-family: "EB Garamond", serif;
}
.heading5 {
  font-size: 1rem;
  font-family: "EB Garamond", serif;
}

.paragraph {
  font-size: 1rem;
}

.with-dropshadow {
  box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.65);
}

/* Footer */
footer {
  background-color: white;
}

footer #teaser-grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding-left: 0;
}

footer #teaser-grid ul li {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

footer #teaser-grid ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  color: black;
}

footer #teaser-grid ul li a picture img {
  max-width: 75px;
}
footer #teaser-grid ul li a h5 {
  margin: 0 0 5px 0;
}
footer #teaser-grid ul li a span {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero-caroussel {
    display: flex;
  }
}
