/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*navigatie*/
.nav-bar {
  background-color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}

.nav-bar.desktop {
  display: none;
  padding-bottom: 1em;
}

.nav-bar.desktop .top {
  display: flex;
  justify-content: space-between;
}

.nav-bar.desktop .top .logo {
  max-width: 6em;
}

.nav-bar.desktop .top .top-nav-list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1em;
  font-size: 0.8rem;
}

.nav-bar.desktop .top .top-nav-list li {
  padding-right: 1em;
}

.nav-bar.desktop .bottom .bottom-nav-list li form fieldset {
  border: 0;
}
.nav-bar.desktop .bottom .bottom-nav-list li form fieldset legend {
  font-size: 0.7rem;
}

.nav-bar.desktop .bottom .bottom-nav-list li form label {
  display: flex;
  flex-direction: row-reverse;
}
.nav-bar.desktop .bottom .bottom-nav-list li form label img {
  width: 10px;
  margin-left: 1em;
}
.nav-bar.desktop .bottom .bottom-nav-list li form label input {
  background-color: lightgray;
  border: 1px solid lightgray;
  padding: 5px;
  border-bottom: 1px dashed;
  font-family: "EB Garamond", serif;
}

.nav-bar.desktop .bottom .bottom-nav-list li form label input::placeholder {
  font-style: italic;
}

.nav-bar.desktop .top .top-nav-list li:not(:last-of-type) {
  border-right: 1px solid black;
}

.nav-bar.desktop .top .top-nav-list li a {
  text-decoration: none;
  color: #8c7256;
}

.nav-bar.desktop .top .top-nav-list li a:hover {
  text-decoration: underline;
}

.nav-bar.desktop .bottom {
  width: 100%;
}

.nav-bar.desktop .bottom .bottom-nav-list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 2em;
}

.nav-bar.desktop .bottom .bottom-nav-list li a {
  text-decoration: none;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.nav-bar.desktop .bottom .bottom-nav-list li a span:first-of-type {
  font-family: "EB Garamond", serif;
  color: #3f3f3f;
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.3s;
}

.nav-bar.desktop .bottom .bottom-nav-list li a span:last-of-type {
  color: #3f3f3f;
  font-size: 0.8rem;
}

.nav-bar.desktop .bottom .bottom-nav-list li a:hover > span:first-of-type {
  color: crimson;
  transition: 0.3s;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  flex: 33%;
  display: flex;
  justify-content: center;
}

.nav-bar ul li:first-of-type {
  justify-content: flex-start;
  padding-left: 1rem;
}
.nav-bar ul li:last-of-type {
  justify-content: flex-end;
  padding-right: 1rem;
}

.menu-link img {
  height: 100%;
  max-height: 20px;
  margin: auto;
}

.home-link img {
  height: 100%;
  max-height: 50px;
}
.search-link img {
  height: 100%;
  max-height: 20px;
}

/* Body */
body {
  background-image: url(../images/background.jpg);
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Container */
.container {
  margin: 0 auto;
  width: 95vw;
}

/* Hero */
#hero {
  margin-bottom: 2em;
}

#hero .hero-background {
  height: 300px;
  width: 100%;
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/backgrounds/image-thumb__14126__BackgroundImage/367791~-~media--36d9dbc4--query.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px center;
}

#hero .hero-caroussel {
  margin-top: -100px;
}

#hero .hero-caroussel .caroussel-image {
  height: 300px;
  width: 100%;
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/hero/image-thumb__87678__HeroTeaser/OET%20YIP%20HeroTeaser%201928x728%2002~-~media--cac93fe4--query.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#hero .hero-caroussel .caroussel-content {
  background: white;
  padding: 2em;
}
#hero .hero-caroussel .caroussel-content h3 {
  margin: 0;
}

/* Nieuwskaartjes */

.card-list {
  list-style: none;
  padding-left: 0;
}

.card-list .card {
  background: white;
  margin-bottom: 2em;
}

.card-list .card.is-row {
  display: grid;
  grid-template-columns: 1fr;
}

.card-list .card.is-column {
  display: grid;
  grid-template-columns: 1fr;
}

.card-list .card picture img {
  width: 100%;
}

.card-list .card picture img.large {
  height: 160px;
}

.card-list .card article {
  padding: 1.5em;
}

.card .background-img {
  width: 135px;
  height: 135px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card .background-img#article-1-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/horizontal/image-thumb__81227__StandardHorizontalTeaser/OET%20Limoncello%20KwarkTrt%20Teaser%20225x225%2001~-~media--cac93fe4--query.jpg");
}

.card .background-img#article-2-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/horizontal/image-thumb__79093__StandardHorizontalTeaser/OET%20Vanille%20Range%20Teaser%20225x225%2001.jpg");
}

.card .background-img#article-3-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/horizontal/image-thumb__81227__StandardHorizontalTeaser/OET%20Limoncello%20KwarkTrt%20Teaser%20225x225%2001~-~media--cac93fe4--query.jpg");
}
.card .background-img#article-4-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/hero/image-thumb__87808__HeroTeaser/OET%20PizzaNews%20HeroTeaser%201928x728%2001.jpg");
  width: 100%;
}
.card .background-img#article-5-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/vertical/image-thumb__14142__StandardVerticalTeaser/3333350.jpeg");
  width: 100%;
}
.card .background-img#article-6-background {
  background-image: url("https://www.oetker.nl/dr-oetker-cms/oetker.nl/teasers/vertical/image-thumb__14143__StandardVerticalTeaser/2963455.jpeg");
  width: 100%;
}

/* Element classes */

.link {
  color: #8c7256;
  text-decoration: none;
  font-size: 1rem;
}
.link:hover {
  color: #3f3f3f;
  text-decoration: underline;
}

.label {
  display: block;
  margin-bottom: -25px;
}

.heading1 {
  font-size: 34px;
  font-family: "EB Garamond", serif;
}
.heading2 {
  font-size: 30px;
  font-family: "EB Garamond", serif;
}
.heading3 {
  font-size: 28px;
  font-family: "EB Garamond", serif;
}
.heading4 {
  font-size: 26px;
  font-family: "EB Garamond", serif;
}
.heading5 {
  font-size: 1rem;
  font-family: "EB Garamond", serif;
}

.paragraph {
  font-size: 1rem;
}

.with-dropshadow {
  box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.65);
}

/* Footer */
footer {
  background-color: white;
}

footer #teaser-grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding-left: 0;
}

footer #teaser-grid ul li {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

footer #teaser-grid ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  color: #3f3f3f;
}

footer #teaser-grid ul li a picture img {
  max-width: 75px;
}
footer #teaser-grid ul li a h5 {
  margin: 0 0 5px 0;
}
footer #teaser-grid ul li a span {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .card-list .card .background-img {
    width: initial;
  }
  .card-list .card.socials .background-img {
    height: 125px;
  }
}

@media screen and (min-width: 510px) {
  .card-list .card .background-img {
    width: auto;
    height: initial;
  }
  .card-list .card.is-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 770px) {
  /* Tablet */

  .nav-bar.mobile {
    display: none;
  }
  .nav-bar.desktop {
    display: block;
  }

  .container {
    max-width: 57em;
  }

  .hero-caroussel {
    display: flex;
  }
  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .mobile-wide {
    grid-column: 1 / span 2;
  }
}
